body {
    font-family: sans-serif;
    background-color: rgb(0, 255, 255);
    margin-right: auto;
    max-width: auto;
    min-width: auto;
    min-height: fit-content;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
html {
border: 4px solid gray;
}
nav ul {
list-style-type: none;
background-color: darkgray;
border: 4px solid #111111;
border-radius: 10px;
font-family: sans-serif;
font-weight: bold;
padding: 16px;
}
nav ul li:last-child {
border-right: none;
}
nav ul li {
display : inline;
border-right: 2px solid #111111;
padding-right: 8px;
padding-left: 8px;
}
nav ul li a {
text-decoration: none;
color: #111111;
}
nav li.selected {
color: #606060;
}
section {
    background-color: #ffef96;
    color: black;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;

    margin-bottom: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
nav ul li:link {
    color: rgb(0, 0, 0);
}
nav ul li:visited {
    color: rgb(255, 255, 255);
}
.mini {
    padding: 0px;
    font-size: 7px;
}
h2 {
    padding: 0px;
    padding-bottom: 0px;
}
.Inline {
    
    vertical-align: top;
    float: right;
}